/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1025px;

// Large desktops
$screen-xl-min: 1440px;

// Colors
$white: #ffffff;
$black: #000;
$mainpink: #EF87A3;
$green: #A2B334;
$sky: #E3E9E8;
$bluegreen: #59BEB0;
$grayocean: #A7C5D7;
$ocean: #6AA8BA;
$darkblue: #027E88;
$sun: #E6CC13;
$verygreen: #A2B334;
$blush: #F0DBDA;
$darknight: #093A3E;


