@charset 'utf-8';

// Helpers Styles
@import "helpers/_mixins";
@import "helpers/_variables";

// Base Styles
@import "base/_normalize";
@import "base/_base";
@import "base/_typography";

// Components Styles
@import "components/_buttons";
@import "components/_forms";
@import "components/_navigation";
@import "components/_tiny-slider";
@import "components/_fancy-box";

// Layout Styles
@import "layout/_header";
@import "layout/_footer";

// Sections Styles
@import "sections/_index-content";
@import "sections/_blog-content";
@import "sections/_gallery-content";
@import "sections/_insta-content";
@import "sections/_contact-content";
@import "sections/_btn-cat";
