/* =============
    Base
============= */
ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}

input,
button,
textarea {
    border: none;
}

.show-for-md {
    display: none;

    @include md {
        display: block;
    }
}

.show-for-lg {
    display: none;

    @include lg {
        display: block;
    }
}

.show-for-xl {
    display: none;

    @include xl {
        display: block;
    }
}

.hero-container {
    @include xl {
        display: grid;
        grid-template-areas: ". hero .";
        grid-template-columns: auto 1440px auto;
    }

    >div {
        grid-area: hero;
    }
}

.grid-container {
    display: grid;
    grid-template-areas: ". container .";
    grid-template-columns: 15px auto 15px;

    @include xl {
        grid-template-columns: auto 1440px auto;
    }

    >div {
        grid-area: container;
    }
}

.heading-spacing {
    margin: 0 15px;

    @include md {
        margin: 0 120px;
    }

    @include lg {
        margin: 0 202px;
    }
}

.content-spacing {
    margin: 50px 0;

    @include md {
        margin: 60px 0;
    }

    @include lg {
        margin: 70px 0;
    }
}