/* =============
    Typography
============= */

// font-family: 'Gaegu', cursive;
// font-family: 'Kosugi Maru', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Space Mono', monospace;

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.heading {
	height: 100%;
	display: flex;
	align-items: flex-end;
}

h2 {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-size: rem-calc(65);
	line-height: rem-calc(65);
	margin-bottom: -20px;

	@include md {
		font-size: rem-calc(80);
		line-height: rem-calc(80);
		margin-bottom: -25px;
	}

	@include lg {
		font-size: rem-calc(100);
		line-height: rem-calc(100);
		margin-bottom: -35px;
	}
}

.japanese {
	font-family: 'Kosugi Maru', sans-serif;
}

h6 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: rem-calc(18);
	color: white;

	@include lg {
		font-size: rem-calc(14);
	}
}

.japn {
	font-family: 'Kosugi Maru', sans-serif;
	line-height: rem-calc(21);
	font-size: rem-calc(18);
	text-orientation: upright;
	writing-mode: vertical-lr;
	letter-spacing: 3px;
	border-radius: 10px;
	padding: 12px;
	color: $mainpink;
	border: 2px solid $mainpink;
	display: none;
	position: absolute;

	@include md {
		display: block;
	}
}

h1 {
	margin-left: -12px;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	line-height: rem-calc(80);
	font-size: rem-calc(100);

	@include md {
		margin-left: -25px;
		line-height: rem-calc(145);
		font-size: rem-calc(180);
	}

	@include lg {
		line-height: rem-calc(164);
		font-size: rem-calc(200);
	}
}

h4 {
	padding: 49px 0;
	font-family: 'Gaegu', cursive;
	font-size: rem-calc(20);
	line-height: rem-calc(25);

	@include md {
		font-size: rem-calc(24);
		line-height: rem-calc(28);
		padding: 59px 0;
	}

	@include lg {
		font-size: rem-calc(25);
		line-height: rem-calc(30);
		padding: 69px 0;
	}
}

p {
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	line-height: rem-calc(28);
	font-size: rem-calc(18);
}

.bold {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	line-height: rem-calc(28);
	font-size: rem-calc(18);
}

.bold-italic {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-style: italic;
	line-height: rem-calc(28);
	font-size: rem-calc(18);
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: rem-calc(22);
	line-height: rem-calc(25);

	@include md {
		font-size: rem-calc(24);
		line-height: rem-calc(26);
	}

	@include lg {
		font-size: rem-calc(27);
		line-height: rem-calc(28);
	}
}