/* =============
    Typography
============= */

// font-family: 'Covered By Your Grace', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Space Mono', monospace;
// font-family: 'Kosugi Maru', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
h6{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: rem-calc(18);
	color: white;
	@include lg{
		font-size: rem-calc(14);
	}
}
.japn{
	font-family: 'Kosugi Maru', sans-serif;
	line-height: rem-calc(21);
	font-size: rem-calc(18);
	text-orientation: upright;
	writing-mode: vertical-lr;
	letter-spacing: 3px;
	border-radius: 10px;
	padding: 12px;
}
.header{
	padding-top: 200px;
}
h1{
	margin-left: -12px;
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	line-height: rem-calc(80);
	font-size: rem-calc(100);
	@include md{
		margin-left: -25px;
		line-height: rem-calc(145);
		font-size: rem-calc(180);
	}
	@include lg{
		line-height: rem-calc(164);
		font-size: rem-calc(200);
	}
}
h4{
	font-family: 'Covered By Your Grace', cursive;
	font-size: rem-calc(25);
	line-height: rem-calc(30);
}
p{
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	line-height: rem-calc(28);
	font-size: rem-calc(18);
}
.bold{
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	line-height: rem-calc(28);
	font-size: rem-calc(18);
}
