/* =============
    Blog Content
============= */
/* --------------------------
    Blog Hero
 --------------------------*/
#blog-hero-container{
    color: $verygreen;
    @include md{
        margin-right: 60px;
    }
    @include xl{
        margin-right: 0;
    }
    #blog-hero{
        position: relative;
        background-image: url('../img/blog/blog-hero.jpg');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 65vh;
        @include md{
            height: 500px;
        }
        @include lg{
            height: 620px;
            background-position-y: -150px;
        }
        .japn{
            @include md{
                top: 180px;
                right: -25px;
            }
            @include lg{
                top: 250px;
            }
            @include xl{
        
            }
        }
    }
    h4{
        @include md{
            width: 400px;
        }
        @include lg{
            width: 370px;
        }
        
    }
}
/* --------------------------
    Blog Article
 --------------------------*/
#blog-content-1{
    color: $darkblue;
    background-color: $sky;
   
    img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        @include md{
            height: unset;
        }
    }
    >div{
        @include md{
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-gap: 20px;
            grid-template-areas: 
            "i1 t1"
            "i1 p1"
            "i1 i2"
            "p2 i2";
        }
        @include lg{
            padding: 0 122px 50vh;
            grid-gap: unset;
            grid-template-columns: auto 5% 5% auto;
            grid-template-areas: 
            "i1 . t1 t1"
            "i1 . . p1"
            "i1 . . i2"
            "p2 . . i2";
        }
    }
    p{
        padding: 20px 0;
        @include md{
            padding: 30px 0;
        }
    }
    #blog-i1{
        grid-area: i1;
    }
    #blog-i2{
        grid-area: i2;
    }
    #blog-p1{
        grid-area: p1;
    }
    #blog-p2{
        grid-area: p2;
        @include md{
            text-align: right;
            margin-left: 30px;
        }
        @include lg{
            text-align: left;
            margin-left: 0;
        }
    }
    #blog-title{
        grid-area: t1;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: rem-calc(20);
        line-height: rem-calc(30);
        text-align: center;
        padding: 0 30px 20px;
        @include md{
            text-align: left;
            padding: 0;
            width: 70%;
            font-size: rem-calc(25);
            line-height: rem-calc(35);
        }
    }
    
    
}
#blog-content-2{
    color: $darkblue;
    @include lg{
        margin-top: -50vh;
    }
    
    #pusheen{
        @include md{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
        }
        li{
            margin: 10px;
            img{
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
        }
    }
    p{
        padding: 40px 0;
        @include md{
            padding: 50px 0;
        }
    }
    #arts{
        @include md{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
        @include lg{
            margin-left: 202px;
        }
        li{
            img{
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }
        }
        :nth-child(1){
            img{
                @include lg{
                    height: 428px;
                }
            }
        }
        :nth-child(2){
            img{
                @include md{
                    width: 60vw;
                    height: 590px;
                    margin-left: 20px;
                }
                @include lg{
                    width: 55vw;
                    height: 620px;
                }
            }
            
        }
    }

}
/* --------------------------
    Blog Slider
 --------------------------*/
.my-slider{
    img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 350px;
        @include md{
            height: 500px;
        }
        @include lg{
            height: 450px;
        }
    }
}
/* --------------------------
    Blog Form
 --------------------------*/
 #blog-form-container{
     background-color: $blush;
     padding: 50px 0;
     @include md{
        padding: 60px 0;
     }
     @include lg{
        padding: 70px 0;
     }
     h4{
         padding: 0;
         color: $darkblue;
     }
     form{
        display: grid;
        gap: 20px;
        padding-top: 25px;
        @include md{
            grid-template-columns: repeat(2, auto);
            grid-template-areas: 
            "name email"
            "subject subject"
            "cmt cmt"
            "submit submit";
        }
        section{
            background-color: white;
            border-radius: 10px;
            padding: 0 5%;
            input, textarea{
                font-family: 'Space Mono', monospace;
                font-weight: 400;
                line-height: rem-calc(25);
                font-size: rem-calc(16);
                width: 100%;
                padding: 20px 0;
            }
            ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $mainpink;
                opacity: 1;
            }
    
            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $mainpink;
            }
    
            ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: $mainpink;
            }
        }
        section:nth-child(1){
            @include md{
                grid-area: name;
            }
        }
        section:nth-child(2){
            @include md{
                grid-area: email;
            }
        }
        section:nth-child(3){
            @include md{
                grid-area: subject;
                padding: 0 2%;
            }
            @include lg{
                padding: 0 3%;
            }
        }
        section:nth-child(4){
            @include md{
                grid-area: cmt;
                padding: 0 2%;
            }
            @include lg{
                padding: 0 3%;
            }
        }
        div{
            display: flex;
            justify-content: center;
            @include md{
                grid-area: submit;
            }
        }
     }
 }