/* =============
    Contact content
============= */
/* --------------------------
    Contact Hero
 --------------------------*/
#contact-hero-container{
    color: $bluegreen;
    background-color: $blush;
    @include md{
        margin-left: 60px;
    }
    @include xl{
        margin-left: 0;
    }
    #contact-hero{
        position: relative;
        background-image: url('../img/travel/travel-hero.jpeg');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 65vh;
        @include md{
            height: 500px;
        }
        @include lg{
            height: 620px;
        }
        .japn{
            @include md{
                top: 180px;
                left: -25px;
            }
            @include lg{
                top: 250px;
            }
            @include xl{
        
            }
        }
        >div{
            @include md{
                margin: 0 60px;
            }
            @include lg{
                margin: 0 142px;
            }
            h2{
                color: $grayocean;
                width: 512px;
            }
        }
    }
    #caption-container{
        display: flex;
        justify-content: flex-end;
        h4{
            @include md{
                text-align: right;
                width: 450px;
            }
            @include lg{
                width: 420px;
            }
        }
    }
}
/* --------------------------
    Contact Recommendation 1
 --------------------------*/
#contact-recom-1{
    >div{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include xl{
            justify-content: center;
        }
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include md{
            flex-wrap: unset;
        }
        :nth-child(1){
            p{
                border: 2px solid $mainpink;
                color: $mainpink;
                padding: 20px 15px 20px 30px;
                max-width: 360px;
                @include lg{
                    border-radius: 10px 0 0 10px;
                }
            }
        }
        :nth-child(2){
            div{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $mainpink;
            }
            a:link, a:visited{
                color: white;
            }

            a:hover,
            a:active{
                color: $blush
            }
        }
        :nth-child(3){
            div{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $grayocean;
                @include xl{
                    border-radius: 0px 10px 10px 0px;
                }
                
            }
        }
        h3{
            
            text-align: center;
            height: auto;
            color: white;
            @include md{
                padding: 0 30px;
            }
            @include lg{
                padding: 0 40px;
            }
        }
    }
}
/* --------------------------
    Contact Map
 --------------------------*/
#map-container{
    background-color: $blush;
    #map{
        width: 100%;
        height: 500px;
    }
}