/* =============
    Contact content
============= */
/* --------------------------
    Contact Hero
 --------------------------*/
#contact-hero-container {
    background-color: $blush;
    color: $bluegreen;

    @include md {
        margin-left: 60px;
    }

    @include xl {
        margin-left: 0;
    }

    #contact-hero {
        background-image: url('../img/travel/travel-hero.jpeg');
        background-position: center;
        background-size: cover;
        height: 65vh;
        position: relative;
        width: 100%;

        @include md {
            height: 500px;
        }

        @include lg {
            height: 620px;
        }

        .japn {
            @include md {
                left: -25px;
                top: 180px;
            }

            @include lg {
                top: 250px;
            }

            @include xl {}
        }

        >div {
            @include md {
                margin: 0 60px;
            }

            @include lg {
                margin: 0 142px;
            }

            h2 {
                color: $grayocean;
                width: 512px;
            }
        }
    }

    #caption-container {
        display: flex;
        justify-content: flex-end;

        h4 {
            @include md {
                text-align: right;
                width: 450px;
            }

            @include lg {
                width: 420px;
            }
        }
    }
}

/* --------------------------
    Contact Info
 --------------------------*/
#contact-info {
    >div {
        align-items: center;
        display: flex;

        @include md {
            justify-content: center;
        }

        @include lg {
            justify-content: flex-end;
        }

        @include xl {
            justify-content: center;
        }
    }

    ul {
        margin: 0 20px;

        @include md {
            display: flex;
            justify-content: center;
        }

        @include lg {
            margin: 0;
        }

        li {
            div {
                align-items: center;
                background-color: $mainpink;
                display: flex;
                height: 100%;
                justify-content: center;
                width: 100%;
            }
        }

        :nth-child(1) {
            p {
                border: 2px solid $mainpink;
                border-radius: 10px 10px 0 0;
                color: $mainpink;
                padding: 20px 15px 20px 30px;
                width: auto;

                @include md {
                    border-radius: 10px 0 0 10px;
                }

                @include lg {
                    max-width: 360px;
                }
            }
        }

        :nth-child(2) {
            div {
                background-color: $mainpink;
            }

            a:link,
            a:visited {
                color: white;
            }

            a:hover,
            a:active {
                color: $blush;
            }
        }

        :nth-child(3) {
            div {
                background-color: $grayocean;
                border-radius: 0 0 10px 10px;

                @include md {
                    border-radius: 0px 10px 10px 0px;
                }

                @include lg {
                    border-radius: 0;
                }

                h3 {
                    @include md {
                        min-width: 130px;
                    }
                }
            }
        }

        h3 {
            color: white;
            height: auto;
            padding: 20px;
            text-align: center;

            @include md {
                padding: 0 30px;
            }

            @include lg {
                padding: 0 40px;
            }
        }
    }
}

/* --------------------------
    Contact Map
 --------------------------*/
#map-container {
    background-color: $blush;

    #map {
        height: 500px;
        width: 100%;
    }
}

/* --------------------------
    Contact Recommendation 1
 --------------------------*/
#contact-recom-1 {
    overflow: hidden;

    div {
        >div {
            height: 72vh;
            margin-top: 0;
            position: relative;

            @include md {
                height: auto;
            }

            h2 {
                bottom: -5px;
                color: $bluegreen;
                position: absolute;
                right: -14px;
                text-align: right;
                z-index: 20;

                @include md {
                    bottom: 0;
                    right: -20px;
                }

                @include lg {}
            }

            #contact-rectangle {
                background-color: $blush;
                height: 72vh;
                position: absolute;
                width: 70vw;
                z-index: -3;

                @include md {
                    height: 360px;
                    width: 100vw;
                }

                @include lg {
                    height: 415px;
                    width: 75vw;
                }
            }

            img {
                object-fit: cover;
                object-position: center;
                width: 100%;

                @include md {
                    margin: 0 120px;
                    width: 460px;
                }

                @include lg {
                    margin: 0 202px;
                }
            }
        }

        ul {
            display: grid;
            grid-gap: 20px;
            grid-template-areas: "p1 p1"
                "card icons";
            grid-template-columns: 60% auto;

            @include md {
                align-items: center;
                display: flex;
                grid-template-areas: unset;
                grid-template-columns: unset;
            }

            #travel-card {
                background-color: $bluegreen;
                border-radius: 10px;
                grid-area: card;
                padding: 15px 20px;
                text-align: center;
                transition: 0.25s;
                width: 100px;

                @include md {
                    align-items: center;
                    display: flex;
                    grid-area: unset;
                    justify-content: center;
                    margin: 0 20px;
                    padding: 20px 25px;
                }

                @include lg {
                    margin: 0 38px;
                }

                P {
                    color: white;
                }
            }

            #p1 {
                grid-area: p1;

                @include md {
                    grid-area: unset;
                }

                p {
                    color: $bluegreen;
                }
            }

            #travel-card-container {
                align-items: center;
                display: flex;
                justify-content: flex-end;
            }

            #icons-container {
                grid-area: icons;

                @include md {
                    grid-area: unset;
                }

                ul {
                    display: grid;
                    grid-template-areas: "insta"
                        "trip"
                        "youtube";
                    height: 120px;
                    text-align: center;

                    @include md {
                        height: 180px;
                    }

                    @include lg {
                        height: 190px;
                    }

                    li {
                        font-size: rem-calc(30);

                        a:link,
                        a:visited {
                            color: $mainpink;

                            &:hover,
                            &:active {
                                color: $bluegreen;
                            }
                        }
                    }

                    :nth-child(1) {
                        grid-row: insta;
                    }

                    :nth-child(2) {
                        grid-row: trip;
                    }

                    :nth-child(3) {
                        grid-row: youtube;
                    }
                }
            }
        }
    }
}

/* --------------------------
    Contact Recommendation 2
 --------------------------*/
#contact-recom-2 {
    position: relative;
    background-color: #fff;
    width: 100%;
    >div {
        padding: 50px 0;
        color: $bluegreen;
        @include md {
            padding: 60px 0;
        }
    
        @include lg {
            padding: 70px 0;
        }
        >p {
            margin-bottom: 20px;
        }

        div {
            display: grid;
            grid-gap: 20px;

            ul {
                display: grid;
                grid-template-columns: 30% auto;

                @include md {
                    grid-template-columns: 20% auto;
                }
            }
        }
    }
}