/* =============
    Index Content
============= */
/* --------------------------
    Index Hero
 --------------------------*/
#home-hero-container {
    height: auto;

    @include md {
        margin-right: 60px;
    }

    @include xl {
        margin-right: 0;
    }
}

#home-hero {
    background-image: url('../img/home/home_hero.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: -1;

    @include md {
        background-position-x: 0px;
    }

    @include lg {}

    .japn {
        top: 250px;

        @include md {
            right: -25px;
        }

        @include lg {
            top: 270px;
        }

        @include xl {}
    }

    h1 {
        color: $bluegreen;
        margin-bottom: -10px;
        padding-top: 290px;

        @include md {
            margin-bottom: -20px;
            padding-top: 200px;
        }

        @include lg {
            margin-bottom: -25px;
        }
    }
}

/* --------------------------
    Index intro
 --------------------------*/
#home-intro {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 60px;

    @include md {
        justify-content: flex-end;
        margin-right: 60px;
    }

    @include xl {
        margin: 0;
    }

    p {
        color: $mainpink;
        font-family: 'Gaegu', cursive;
        font-size: rem-calc(28);
        line-height: rem-calc(30);
        text-align: center;

        @include md {
            font-size: rem-calc(32);
            line-height: rem-calc(35);
            text-align: right;
            width: 370px;
        }
    }
}

#home-intro-img {
    margin-left: 30%;

    li {
        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    @include md {
        display: grid;
        grid-gap: 15px;
        grid-template-areas: ". . home2"
            ". home1 home2"
            ". home1 .";
        grid-template-columns: auto repeat(2, 40%);
        grid-template-rows: 20px 450px 20px;
        margin-left: 0;
    }

    @include lg {
        grid-gap: 20px;
        grid-template-areas: ". . home2"
            ". home1 home2"
            ". home1 .";
        grid-template-columns: 25% 30% auto;
        grid-template-rows: 20px 550px 20px;
    }

    @include xl {
        grid-template-columns: 20% 35% auto;
    }

    :nth-child(1) {
        grid-area: home1;
    }

    :nth-child(2) {
        grid-area: home2;
    }
}

#intro {
    color: rgba($color: $sun, $alpha: 0.75);
    margin-top: -50px;

    @include md {
        margin-top: -100px;
    }

    @include lg {
        margin-top: -120px;
    }
}

#home-intro-p {
    margin-top: 25px;

    @include md {
        display: grid;
        grid-gap: 15px;
        grid-template-areas: ". p1 p2 .";
        grid-template-columns: 80px repeat(2, auto) 80px;
        text-align: left;
    }

    @include lg {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: ". p1 p2 .";
        grid-template-columns: 20% repeat(2, auto) 5%;
    }

    p {
        color: $bluegreen;
        padding: 0 25px;

        @include md {
            padding: 0;
        }
    }

    :nth-child(1) {
        grid-area: p1;
    }

    :nth-child(2) {
        margin: 50px 0 45px;

        img {
            height: 50vh;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }

        @include md {
            display: none;
        }
    }

    :nth-child(3) {
        grid-area: p2;
    }
}

/* --------------------------
    Index culture
 --------------------------*/
#home-culture {
    background-color: $blush;
    overflow: hidden;
    position: relative;

    @include md {
        background-color: unset;
    }

    #home-culture-container {
        @include md {
            display: grid;
            grid-template-areas: "i ."
                "i p3"
                ". p3";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 310px 180px auto;
            height: auto;
        }

        @include lg {
            grid-template-areas: ". i . . ."
                ". i . p3 ."
                ". . . p3 .";
            grid-template-columns: 130px auto 120px auto 130px;
            grid-template-rows: 390px 180px auto;
        }
    }

    a {
        @include md {
            grid-area: i;
        }

        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 72%;

            @include md {
                padding-top: 70px;
                width: 80%;
            }

            @include lg {
                width: 450px;
            }
        }
    }

    #home-culture-para {
        grid-area: p3;
        padding: 0 20px;

        @include md {
            padding: 0;
        }

        >div {
            display: flex;
            justify-content: flex-end;

            @include md {
                display: block;
            }
        }
    }

    p {
        color: $darkblue;
        margin: 50px 0 20px;
        text-align: right;

        @include md {
            margin: 60px 45px 25px 0;
            text-align: left;
        }

        @include lg {
            margin: 70px 0 25px 0;
        }
    }

    #culture-bg {
        background-color: $blush;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: -99;

        @include md {
            height: 310px;
        }

        @include lg {
            height: 390px;
        }
    }

    h1 {
        color: $verygreen;
        position: absolute;
        z-index: 2;
        right: -20px;
        text-align: right;
        top: 30px;

        @include md {
            right: -40px;
        }

        @include lg {
            top: 80px;
        }
    }
}

/* --------------------------
    Index art
 --------------------------*/
#home-art {
    background-image: url('../img/home/home-hero-2.jpeg');
    background-position: center;
    background-size: cover;
    height: auto;
    margin-top: 0;
    overflow: hidden;
    position: relative;

    @include md {
        margin-top: 0;
        padding: 0;
    }

    p {
        color: white;
        padding: 50px 20px 0 20px;
        width: auto;

        @include md {
            padding: 60px 0 0 80px;
            width: 380px;
        }

        @include lg {
            padding: 70px 0 0 130px;
        }
    }

    h1 {
        color: rgba($color: white, $alpha: 0.3);
        position: absolute;
        right: -20px;
        top: 130px;

        @include md {
            left: 0;
            top: 120px;
        }
    }

    .button-container {
        padding-left: 20px;
    }

    .button {
        margin-top: 30vh;

        @include md {
            margin-left: 80px;
            margin-top: 40vh;
        }

        @include lg {
            margin-left: 130px;
            margin-top: 50vh;
        }
    }
}