/* =============
    Index Content
============= */
/* --------------------------
    Index Hero
 --------------------------*/
 #home-hero-container{
    height: auto;
    @include md{
        margin-right: 60px;
    }
    @include xl{
        margin-right: 0;
    }
}

 #home-hero{
    z-index: -1;
    position: relative;
    background-image: url('../img/home/home_hero.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    @include md{
        background-position-x: 0px;
    }
    @include lg{
    }
    .japn{
        top: 250px;
        @include md{
            right: -25px;
        }
        @include lg{
            top: 270px;
        }
        @include xl{

        }
    }
    h1{
        color: $bluegreen;
        padding-top: 290px;
        margin-bottom: -10px;
        @include md{
            padding-top: 200px;
            margin-bottom: -20px;
        }
        @include lg{
            margin-bottom: -25px;
        }
    }    
}
/* --------------------------
    Index intro
 --------------------------*/
#home-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
    @include md{
        margin-right: 60px;
        justify-content: flex-end;
    }
    @include xl{
        margin: 0;
    }
    p{
        font-family: 'Space Mono', monospace;
        font-size: rem-calc(23);
        line-height: rem-calc(30);
        color: $mainpink;
        text-align: center;
        @include md{
            text-align: right;
            font-size: rem-calc(25);
            line-height: rem-calc(35);
            width: 370px;
        }
        
        
    }
}
#home-intro-img{
    margin-left: 30%;
    li{
        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }
    @include md{
        margin-left: 0;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: auto repeat(2, 40%);
        grid-template-rows: 20px 450px 20px;
        grid-template-areas: 
        ". . home2"
        ". home1 home2"
        ". home1 .";
    }
    @include lg{
        grid-gap: 20px;
        grid-template-columns: 25% 30% auto;
        grid-template-rows: 20px 550px 20px;
        grid-template-areas: 
        ". . home2"
        ". home1 home2"
        ". home1 .";
    }
    @include xl{
        grid-template-columns: 20% 35% auto;
    }
    :nth-child(1){
        grid-area: home1;
    }
    :nth-child(2){
        grid-area: home2;
    }
}
#intro{
    color: rgba($color: $sun, $alpha: 0.75);
    margin-top: -50px;
    @include md{
        margin-top: -100px;
    }
    @include lg{
        margin-top: -120px;
    }
}
#home-intro-p{
    margin-top: 25px;
    @include md{
        text-align: left;
        display: grid;
        grid-template-columns: 80px repeat(2, auto) 80px;
        grid-gap: 15px;
        grid-template-areas: ". p1 p2 .";
    }
    @include lg{
        display: grid;
        grid-template-columns: 20% repeat(2, auto) 5%;
        grid-gap: 20px;
        grid-template-areas: ". p1 p2 .";
    }
    p{
        padding: 0 25px;
        color: $bluegreen;
        @include md{
            padding: 0;
        }
    }
    :nth-child(1){
        grid-area: p1;
    }
    :nth-child(2){
        img {
            object-fit: cover;
            object-position: center;
            height: 50vh;
            width: 100%;
        }
        margin: 50px 0 45px;
       @include md{
           display: none;
       }
    }
    :nth-child(3){
        grid-area: p2;
    }
}

/* --------------------------
    Index culture
 --------------------------*/
#home-culture{
    overflow: hidden;
    position: relative;
    background-color: $blush;
    @include md{
        background-color: unset;
    }
    #home-culture-container{
        @include md{
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, 1fr) ;
            grid-template-rows: 310px 180px auto;
            grid-template-areas: 
            "i ."
            "i p3"
            ". p3";
        }
        @include lg{
            
            grid-template-columns: 130px auto 120px auto 130px;
            grid-template-rows: 390px 180px auto;
            grid-template-areas: 
            ". i . . ."
            ". i . p3 ."
            ". . . p3 .";
        }
    }
    img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 72%;
        @include md{
            grid-area: i;
            padding-top: 70px;
            width: 80%;
        }
        @include lg{
            width: 450px;
        }
    }
    #home-culture-para{
        grid-area: p3;
        padding: 0 20px;
        @include md{
            padding: 0;
        }
        >div{
            display: flex;
            justify-content: flex-end;
            @include md{
                display: block;
            }
        }
    }
    p{
        color: $darkblue;
        text-align: right;
        margin: 50px 0 20px;
        @include md{
            text-align: left;
            margin: 60px 45px 25px 0;
        }
        @include lg{
            margin: 70px 0 25px 0;
        }
    }
    #culture-bg{
        top: 0;
        background-color: $blush;
        position: absolute;
        width: 100vw;
        z-index: -99;
        @include md{
            height: 310px;
        }
        @include lg{
            height: 390px;
        }
    }
    h1{
        right: -20px;
        top: 30px;
        position: absolute;
        text-align: right;
        color: $verygreen;
        @include md{
            right: -40px;
        }
        @include lg{
            top: 80px;
        }
    }
}


/* --------------------------
    Index art
 --------------------------*/
#home-art{
    position: relative;
    margin-top: 0;
    background-image: url('../img/home/home-hero-2.jpeg');
    background-position: center;
    background-size: cover;
    height: auto;
    overflow: hidden;
    @include md{
        margin-top: 0;
        padding: 0;
    }
    
    p{
        width: auto;
        color: white;
        padding: 50px 20px 0 20px;
        @include md{
            width: 380px;
            padding: 60px 0 0 80px;
        }
        @include lg{
            padding: 70px 0 0 130px;
        }
    }
    h1{
        position: absolute;
        color: rgba($color: white, $alpha: 0.3);
        top: 130px;
        right: -20px;
        @include md{
            top: 120px;
            left: 0;
        }
    }
    .button-container{
        padding-left: 20px;
    }
    .button{
        margin-top: 30vh;
        @include md{
            margin-top: 40vh;
            margin-left: 80px;
        }
        @include lg{
            margin-top: 50vh;
            margin-left: 130px;
        }
    }
}

