/* =============
    Index Content
============= */
/* --------------------------
    Index Hero
 --------------------------*/
 #home-hero-container{
    height: auto;
    @include md{
        margin-right: 60px;
    }
    @include xl{
        margin-right: 0;
    }
}

 #home-hero{
    z-index: -1;
    position: relative;
    background-image: url('../img/home/home_hero.jpg');
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
    @include md{
        background-position-x: 0px;
    }
    @include lg{
    }
    .japn{
        display: none;
        position: absolute;
        top: 250px;
        color: $mainpink;
        border: 2px solid $mainpink;
        @include md{
            display: block;
            right: -25px;
        }
        @include lg{
            top: 270px;
        }
        @include xl{

        }
    }
    h1{
        color: $bluegreen;
        padding-top: 200px;
        margin-bottom: -10px;
        @include md{
            margin-bottom: -20px;
        }
        @include lg{
            margin-bottom: -25px;
        }
    }    
}
/* --------------------------
    Index intro
 --------------------------*/
#home-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
    @include md{
        margin-right: 60px;
        justify-content: flex-end;
    }
    @include xl{
        margin: 0;
    }
    p{
        font-family: 'Space Mono', monospace;
        font-size: rem-calc(23);
        line-height: rem-calc(30);
        color: $mainpink;
        text-align: center;
        @include md{
            text-align: right;
            font-size: rem-calc(25);
            line-height: rem-calc(35);
            width: 370px;
        }
        
        
    }
}



