/* =============
    Insta Content
============= */
/* --------------------------
    Insta Header
 --------------------------*/
#insta-hero-container {
    background-color: $sky;
    color: $sun;
    position: relative;

    @include md {
        margin-right: 60px;
    }

    @include xl {
        margin-right: 0;
        position: unset;
    }

    >div {
        @include lg {
            margin-left: 120px;
            margin-right: 60px;
        }

        @include xl {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    #insta-hero {
        background-image: url('../img/celebs/celeb-hero.jpeg');
        background-position: center;
        background-size: cover;
        height: 65vh;
        width: auto;

        @include md {
            height: 500px;
        }

        @include lg {
            height: 620px;
        }

        @include xl {
            position: relative;
        }

        >div {
            margin: 0 15px;

            @include md {
                margin: 0 120px;
            }

            @include lg {
                margin: 0 70px;
            }

            @include xl {
                margin: 0 202px;
            }
        }

        .japn {
            @include md {
                right: -25px;
                top: 180px;
            }

            @include lg {
                top: 250px;
            }

            @include xl {}
        }
    }

    #insta-caption {
        display: flex;
        justify-content: flex-end;

        h4 {
            color: $ocean;
            margin: 0 15px;
            text-align: right;
            width: 300px;

            @include md {
                margin: 0 60px;
                width: 400px;
            }

            @include lg {
                margin: 0;
                width: 370px;
            }

            @include xl {
                margin: 0 202px;
            }
        }
    }
}

/* --------------------------
    Insta gallery
 --------------------------*/