/* =============
    Insta Content
============= */
/* --------------------------
    Insta Header
 --------------------------*/
 #insta-hero-container{
    position: relative;
    color: $sun;
    background-color: $sky;
    @include md{
        margin-right: 60px;
    }
    @include xl{
        position: unset;
        margin-right: 0;
    }
    >div{
        @include lg{
            margin-right: 60px;
            margin-left: 120px;  
        }
        @include xl{
            margin-right: 0px;
            margin-left: 0px; 
        }
    }
    #insta-hero{
        background-image: url('../img/celebs/celeb-hero.jpeg');
        background-position: center;
        background-size: cover;
        width: auto;
        height: 65vh;
        @include md{
            height: 500px;
        }
        @include lg{
            height: 620px;
        }
        @include xl{
            position: relative;
        }
        >div{
            margin: 0 15px;
            @include md{
                margin: 0 120px;
            }
            @include lg{
                margin: 0 70px;
            }
            @include xl{
                margin: 0 202px;
            }
        }
        .japn{
            @include md{
                top: 180px;
                right: -25px;
            }
            @include lg{
                top: 250px;
            }
            @include xl{
            }
        }
    }
    #insta-caption{
        display: flex;
        justify-content: flex-end;
        
        h4{
            color: $ocean;
            text-align: right;
            margin: 0 15px;
            width: 300px;
            @include md{
                margin: 0 60px;
                width: 400px;
            }
            @include lg{
                margin: 0;
                width: 370px;
            }
            @include xl{
                margin: 0 202px;
            }
            
        }
    }
}
/* --------------------------
    Insta gallery
 --------------------------*/