/* =============
    Header
============= */
header{
    position: fixed;
    z-index: 200;
    width: 100%;
    div{
        color: $mainpink;
        display: grid;
        grid-template-columns: repeat(3, auto);
        padding: 15px;
    
        @include lg{
            padding: 30px 42px;
        }
        @include md{
            padding: 25px 30px;
        }
        a:link, a:visited{
            color: $mainpink;
        }
        a:hover, a:active{
            color: $bluegreen;
        }
        h5{
            font-family: 'Space Mono', monospace;
            font-weight: 400;
            font-size: rem-calc(17px);
            line-height: rem-calc(17px);
            text-align: center;
            @include lg{
                font-size: rem-calc(15px);
                line-height: rem-calc(15px);
            }
        }
        #logo-1-container{
            margin-top: -10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        #logo-2-container{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            img{
                height: 50px;
                @include md{
                    height: 45px;
                }
            }
        }
        #burger-container{
            display: flex;
            align-items: center;
            justify-content: center;
            #burger{
                height: 25px;
                cursor: pointer;
                #lines{
                    stroke: $mainpink;
                    transition: 0.25s;
                    
                }
                &:hover{
                    #lines{
                        stroke: $bluegreen;
                    }
                }
                
                
            }
        }
    }
}