/* =============
    Navigation
============= */

.button{
    background-color: $mainpink;
    color: $white;

    border: none;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: rem-calc(20);
    line-height: rem-calc(22);

    text-align: center;
    padding: 10px;

    width: 100px;
    @include md{
        width: 136px;
        font-size: rem-calc(25);
        line-height: rem-calc(30);
        padding: 15px;
    }
    @include lg{
        width: 166px;
        font-size: rem-calc(30);
        line-height: rem-calc(37);
        padding: 20px;
    }

    &:hover,
    &:active {
        color: $mainpink;
        background-color: rgba($color: white, $alpha: 0.5);
        border: 2px solid $mainpink;
    }
}
.button-container{
    padding-bottom: 50px;
    @include md{
        padding-bottom: 60px;
    }
    @include lg{
        padding-bottom: 70px;
    }
}